/* Everforest */
@define-color base0 #2d353b;
@define-color base1 #343f44;
@define-color base2 #475258;
@define-color base3 #859289;
@define-color base4 #9da9a0;
@define-color base5 #d3c6aa;
@define-color base6 #e6e2cc;
@define-color base7 #fdf6e3;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color cyan #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;

* {
    font-family: Google Sans;
    font-weight: 500;
}

window#waybar {
    background-color: alpha(@base0, 0.5);
    border-bottom: 0px solid alpha(@base3, 0.5);
    color: @base5;
    transition-property: background-color;
    transition-duration: .5s;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @blue;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @base4;
}

#workspaces button:hover {
    background: alpha(@base2, 0.5);
}

#workspaces button.active {
    background: alpha(@base2, 0);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @base3;
    box-shadow: inset 0 -3px @blue;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @base5;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

